body {
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#banner {
    height: 0;
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    position: relative;
}

.banner .btns {
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}

.banner .btns span {
    margin: 0.4rem;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 3px solid rgba(255, 86, 19, 0.89);
}

.banner .btns span.act {
    background-color: rgba(255, 86, 19, 0.89);
    width: 1rem;
    height: 1rem;

}